SparkSession is entry point into all functionality in Spark, and is required to build a dataframe in PySpark.

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("pyspark").config("spark.memory.offHeap.enabled","true").config("spark.memory.offHeap.size","10g").getOrCreate()

In [4]:
df = spark.read.csv('Churn_Modelling.csv',header=True,escape="\"")

In [5]:
df.show(5,0)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|Surname |CreditScore|Geography|Gender|Age|Tenure|Balance  |NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|1        |15634602  |Hargrave|619        |France   |Female|42 |2     |0        |1            |1        |1             |101348.88      |1     |
|2        |15647311  |Hill    |608        |Spain    |Female|41 |1     |83807.86 |1            |0        |1             |112542.58      |0     |
|3        |15619304  |Onio    |502        |France   |Female|42 |8     |159660.8 |3            |1        |0             |113931.57      |1     |
|4        |15701354  |Boni    |699        |France   |Female|39 |1     |0        |2            |0        |0             |93826.63       |0     |
|5        |15737888  |Mitchell|850        |Spain    |Female|43 |2     |125510.82|1            |1        |1             |79084.1        |0     |
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 5 rows

To display number of rows

In [6]:
df.count()

10000

Unique values for a field

In [8]:
df.select("Geography").distinct().count()

3

group by clause example

In [9]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
df.groupBy("Geography").agg(countDistinct("CustomerId").alias("country_count")).show()

+---------+-------------+
|Geography|country_count|
+---------+-------------+
|  Germany|         2509|
|   France|         5014|
|    Spain|         2477|
+---------+-------------+

In [11]:
df.groupBy("Geography").agg(countDistinct("CustomerId").alias("country_count")).orderBy(desc("country_count")).show()

+---------+-------------+
|Geography|country_count|
+---------+-------------+
|   France|         5014|
|  Germany|         2509|
|    Spain|         2477|
+---------+-------------+

In [17]:
df.select(max("EstimatedSalary")).show()

+--------------------+
|max(EstimatedSalary)|
+--------------------+
|            99984.86|
+--------------------+

Intially estimated Salary is of string type need to convert it into float type

In [20]:
df=df.withColumn("EstimatedSalary",col("EstimatedSalary").cast('float'))
df.select(max("EstimatedSalary")).show()

+--------------------+
|max(EstimatedSalary)|
+--------------------+
|           199992.48|
+--------------------+

In [21]:
df.show(5,0)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|Surname |CreditScore|Geography|Gender|Age|Tenure|Balance  |NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|1        |15634602  |Hargrave|619        |France   |Female|42 |2     |0        |1            |1        |1             |101348.88      |1     |
|2        |15647311  |Hill    |608        |Spain    |Female|41 |1     |83807.86 |1            |0        |1             |112542.58      |0     |
|3        |15619304  |Onio    |502        |France   |Female|42 |8     |159660.8 |3            |1        |0             |113931.57      |1     |
|4        |15701354  |Boni    |699        |France   |Female|39 |1     |0        |2            |0        |0             |93826.63       |0     |
|5        |15737888  |Mitchell|850        |Spain    |Female|43 |2     |125510.82|1            |1        |1             |79084.1        |0     |
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 5 rows